* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	display: block;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: url("/background.jpeg");
	background-size: cover;
	background-position: center;
	color: #dcdcdc;
	overflow: hidden;
}
h3 {
	color: rgba(255, 255, 255, 1);
}
main {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	text-align: center;
}
main::before {
	content: "";
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: rgba(17, 36, 45, 0.25);
	top: 0;
	left: 0;
	z-index: 1;
}
main > div.panel {
	background: rgba(31, 64, 45, 0.57);
	box-shadow: 0 8px 20px 0 rgba(201, 201, 201, 0.1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 30px 60px;
	border-radius: 12px;
	z-index: 2;
}
form {
	display: flex;
	flex-direction: column;
}
form > label {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 1rem;
}
form input {
	border-radius: 4px;
	padding: 8px;
	margin: 8px 0;
	border: none;
}
form p {
	color: #010101;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	padding: 10px;
}
form p:first-of-type {
	font-size: 1.5rem;
}
input[type="submit"],
.btn {
	display: block;
	padding: 10px 30px;
	background-color: #6c8e60;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 10px rgba(17, 36, 45, 0.6);
	width: 420px;
	max-width: 100%;
	margin: 12px auto;
	font-size: 1rem;
	transition: background-color 0.2s;
}
input[type="submit"]:hover,
.btn:hover {
	background-color: #68ad70;
}
input[type="submit"]:focus,
.btn:focus {
	background-color: #648654;
}
.panel {
	display: flex;
	flex-direction: column;
}
.panel > div {
	display: flex;
	flex-direction: column;
	padding: 12px;
}
.panel > div > p {
	font-size: 1rem;
	padding-top: 12px;
}
.error {
	font-size: 1rem;
	margin-top: 24px;
}
a.btn {
	text-decoration: none;
}

.giftlist {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 640px;
	font-size: 16px;
	color: #010101;
	z-index: 100;
}
.giftlist h2 {
	margin: 0.5rem;
}
.giftlist h3 {
	color: #010101;
}
.giftlist .list {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
	width: 100%;
	margin: 1rem auto;
	margin-top: 2rem;
	text-align: left;
}
.giftlist .list p {
	position: relative;
	padding-left: 12px;
	margin: 5px;
}
.giftlist .list p::before {
	content: "";
	background-color: #010101;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	top: 50%;
	left: 0;
	position: absolute;
	transform: translateY(-55%);
}
.message {
	margin-top: 0.5rem;
}
